@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);
@import url(./fontello.css);

/* reset */
body *, body::before, body::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul, ol {
  list-style: none;
}
html {
  font-size: 10px;
}
body {
  background: #fff;
  color: #181818;
  width: 100%;
  background: grey;
}

/* layout */
.header, .visual, .main, .slogan, .footer {
  width: 940px;
  margin: 0 auto;
}
/* header */
.header {
  position: relative;
  background: #fff;
  border-radius: 0 0 5px 5px;
}
.logo {
  position: absolute;
  left: 0;
  top: 20px;
}
.member {
  text-align: right;
}
.member-item {
  display: inline-block;
}